html * {
    background: #00000040 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    margin: 10px;
    resize: both;
    overflow: auto;
    outline: 1px solid #313131 !important;
}

#title {
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

div#calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#screen {
    font-size: xxx-large;
    text-align: end;
    min-width: 900px;
}

div#buttons {
    display: flex;
    min-width: 900px;
}

div#digits {
    flex: 3;
}

div#operators {
    flex: 1;
}